<!-- 
<header>

    <nav class=" navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="abc" style="color: black;" >
      <a class="navbar-brand" style="color:white" (click)="mainpage()"><button class="btn btn-dark">VoizFonica</button></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="color: white;">
              Prepaid
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="gotoplans()">Recharge</a>
              <a class="dropdown-item" (click)="gotoplans()" >view plan </a>
              <a class="dropdown-item" >prepaid to postpaid</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                Postpaid
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="gotobill()" >paybill</a>
              <a class="dropdown-item" (click)="gotoplans()" >view plan</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                Dongle
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="gotoplans()">Recharge</a>
              <a class="dropdown-item" (click)="gotoplans()" >view plan</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="color: white;">
                Help
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="contactus()">contact us</a>
                <a class="dropdown-item"  data-toggle="modal" data-target="#contactus" (click)="faq()">FAQ</a>
               
              </div>
            </li>
  
  
  
  
  
  
        </ul>
        <ul class="navbar-nav ml-autoo">
          <li class="nav-item">
              <a class="nav-link" style="color: white;" (click)="reg()"> <i class="fa fa-user"></i> Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" (click)="log()"><i class="fa fa-sign-in"></i>Login</a>
          </li>
       </ul>       
      </div>
    </nav>
  
  </header> -->











  <div class="allpage"  >
    
    <div class="container" >
        <div class="row">
            <div style="height: 25vh;"></div>
        </div>
        <div class="row">
         
             <div class="col-md-6 mb-4">         
                 <!-- <div >
                    <img src="../../assets/images/faq.png" style="width: 460px; height: 480px; align-items: top ;">                                    
                
                  </div>  -->


                  <div class="container">
                    <h2 style="color: rgb(255, 255, 255); "><b>Update Password</b></h2><br><br>
                    <form #rudForm="ngForm" (ngSubmit)="upUser(subscriber.emailId,subscriber.password)">
                      <!-- <div class="form-group">
                        <label for="email">Id:</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="id1" placeholder="Enter Id" name="email">
                      </div> -->
                      <div class="form-group" >
                        <label for="email" style="color: rgb(255, 255, 255);"><b>Email:</b></label>
                        <input type="email" class="form-control" id="email" style="box-shadow: 0 0 10px rgb(255, 255, 255);" [(ngModel)]="subscriber.emailId" placeholder="Enter email" name="email">
                      </div>
                      <div class="form-group" >
                        <label for="pwd" style="color: rgb(255, 255, 255);"><b>New Password:</b></label>
                        <input type="password" class="form-control" id="pwd" style="box-shadow: 0 0 10px rgb(255, 255, 255);"[(ngModel)]="subscriber.password" placeholder="Enter password" name="pwd">
                      </div>
                      <br>
                      <button type="submit" class="btn btn-light" style="box-shadow: 0 0 10px rgb(255, 255, 255); color: teal;" ><b>Update</b></button>
                      <div class="float-right"(click)="goback()">
                      <button type="submit" class="btn btn-light" style="box-shadow: 0 0 10px rgb(255, 255, 255); color: teal;"  ><b>Back to Login</b></button></div>
                    </form>
                    <!-- <br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br> -->
                    <!-- (click)="goback()" -->
                  </div>









            </div> 
    
    
            <div class="col-md-6 mb-4">
               
          




        </div>
        </div>
        
    </div>
    </div>